/* LEARNED IN LAB */

@font-face {
    font-family: 'Poppins-Regular', Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    src:url(../fonts/Poppins-Regular.woff) format('woff'),
        url(../fonts/Poppins-Regular.ttf) format('truetype'),
        url(../fonts/poppins-regular-webfont.woff) format('woff'),
        url(../fonts/poppins-regular-webfont.woff2) format('woff2');
        
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src:url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-style: bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins-Thin';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Poppins-Thin.ttf);
}

@font-face {
    font-family: 'RobotoSlab-Regular';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}
