* {
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-item {
    flex-grow: 1; 
    flex-shrink: 1;
    flex-basis:20rem;
}

.box-text {
    flex-grow: 1; 
    flex-shrink: 1;
    flex-basis: auto;
}

.product-item-border {
    border: rgb(255, 255, 255) solid;
    padding: 1rem;
    border-radius: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.product-item-border:hover,
.product-item-border:focus {
    /* border: #0469f7 solid; */
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: 0.25s;
}

.pay-border {
    border: #ffffff solid;
    padding: 2rem;
    border-radius: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}


.total-border:hover,
.total-border:focus {
    border: #0469f7 solid;
    padding: 2rem;
    border-radius: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: 0.25s;
}

.pay-border:hover,
.pay-border:focus{
    border: #0469f7 solid;
    padding: 2rem;
    border-radius: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: 0.25s;
}

/* CONSTANT BORDER */
.total-border {
    border: #ffffff solid;
    background-color:  #f0f0f0;
    padding: 2rem;
    border-radius: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.palette {
    border: black solid;
    padding: 2rem;
    border-radius: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    flex-basis: 30rem; /* greater means more space it takes up */
}

/* LOCK THE FLEX BOX */
.locksize30 {
    max-width: 55rem;
    justify-content:flex-start;
    flex-wrap: nowrap;
}

/* UNLOCK THE FLEX BOX */
@media screen and (min-width: 30em) {
    .locksize30 {
        flex-wrap:wrap;
    }
}


@media (max-width: 1200px) {
    .box {
      flex-direction: column;
    }
  }

  @media screen and (mix-width: 400px) {
    body {
        font-size: 50vw;
    }
}


.artdirection {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}



